@model JoinData

<form method="post" asp-action="Checkin">
	<label for="kitName">Select a Kit:</label>
	<select id="kitName" name="kitName">
		<option value="">-- Select a Kit to check in --</option>
		@foreach (var kit in Model.Kits)
		{
			<option value="@kit.Kit_name">@kit.Kit_name</option>
		}
	</select>

	<label for="studentName">Check-In location:</label>
	<select id="studentName" name="studentName">
		<option value="">-- Location --</option>
		@foreach (var student in Model.Students)
		{
			<option value="@student.Student_fname">@student.Student_fname</option>
		}
	</select>

	<label for="itemName">Select an Item:</label>
	<select id="itemName" name="itemName">
		<option value="">-- Select an Item to check in --</option>
		@foreach (var item in Model.Items)
		{
			<option value="@item.Item_name">@item.Item_name</option>
		}
	</select>

	<button type="submit">Check-In</button>
</form>
