@model IEnumerable<Systems_Project_Spring_2023.Models.Status>

@{
    ViewData["Title"] = "Index";
}

<h1>Status Code Management</h1>

<p>
	<a class="btn btn-primary btn-md btn-fix" asp-action="Create">Create New Status</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status_code)
            </th>
	        <th>
		        @Html.DisplayNameFor(model => model.Status_desc)
	        </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
	        <td>
		        @Html.DisplayFor(modelItem => item.Status_code)
	        </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Status_desc)
	        </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Status_code">Edit</a> |
	            <a asp-action="Delete" asp-route-id="@item.Status_code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
