@model IEnumerable<Systems_Project_Spring_2023.Models.Kit>

@{
    ViewData["Title"] = "Kit Management";
}

<hr class="hr-w hr-w-3" />

<div class="container">
    <h1 class="pb-3 mb-4 border-bottom">Kit Management</h1>
    <a class="btn btn-primary" asp-controller="Home" asp-action="InventoryManagement">Back</a>
    <a class="btn btn-primary btn-md btn-fix" asp-action="Create">Create New Kit</a>

    <hr class="hr-w hr-w-5" />
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Kit_barcd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kit_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kit_desc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kit_cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kit_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kit_note)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kt_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status_code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Student_macid)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kit_barcd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kit_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kit_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kit_cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kit_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kit_note)
                    </td>
                    <td>
                        @ViewBag.kitType[item.Kt_id]
                    </td>
                    <td>
                        @ViewBag.statusCode[item.Status_code]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student_macid)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Kit_id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Kit_id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

<hr class="hr-w hr-w-3" />