@model Systems_Project_Spring_2023.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_cmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_cmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_pmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_pmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_ephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_ephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_addr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_addr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_cour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_cour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_camp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_camp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_instr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_instr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Student_macid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
