@model Systems_Project_Spring_2023.Models.Item

@{
    ViewData["Title"] = "Delete Item";
}

<hr class="hr-w hr-w-3" />

<div class="container">
    <h1 class="pb-3 mb-4 border-bottom">Delete Item</h1>

    <hr class="hr-w hr-w-4" />

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_barcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_barcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_macid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_macid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Item_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

<hr class="hr-w hr-w-3" />

