@model Systems_Project_Spring_2023.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_barcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_barcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_macid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_macid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Item_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
