@model Systems_Project_Spring_2023.Models.Kit_Type

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Kit_Type</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Kt_item_name)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Kt_item_name)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Kt_item_qty)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Kt_item_qty)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Kt_item_cost)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Kt_item_cost)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Kt_date)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Kt_date)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Kt_id">Edit</a> |
        <a class="btn btn-primary btn-md btn-fix" asp-controller="Kit_Type" asp-action="Index">Back to List</a>
    </div>

</div>