@model IEnumerable<Systems_Project_Spring_2023.Models.LabAssistant>

@{
    ViewData["Title"] = "Index";
}

<hr class="hr-w hr-w-3" />

<div class="container">
    <h1>Under Construction</h1>
    <p>You are on the LabAssistants/Index page. This page is not currently functional. Come back later!</p>
</div>

<hr class="hr-w hr-w-3" />


@*
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.La_fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.La_lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.La_camp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.La_sch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.La_fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.La_lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.La_camp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.La_sch)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.La_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.La_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.La_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@